MEMORY {
    ZP_CHRGET:  start = $0000, size = $0018, type = rw, file = "";
	ZP:		    start = $0018, size = $00E8, type = rw, file = "";
	# ZP:		    start = $0000, size = $00E8, type = rw, file = "";
    # ZP_CHRGET:  start = $00E8, size = $0018, type = rw, file = "";
	BASRAM:		start = $0200, size = $BE00, type = rw, file = "", define = yes;
	BASROM:		start = $C000, size = $3E00, fill = no, file = %O;
	INPUT:		start = $FE00, size = $0100, type = rw, file = "", define = yes;
	DUMMY:		start = $0000, size = $0100, file = "";
}

SEGMENTS {
	CHRGET:		load = ZP_CHRGET, type = ro;
	ZEROPAGE:	load = ZP, type = zp;
	HEADER:		load = BASROM,	type = ro;
	VECTORS:	load = BASROM,	type = ro;
	KEYWORDS_A:	load = BASROM,	type = ro, define = yes;
	KEYWORDS_B:	load = BASROM,	type = ro, define = yes;
	ERROR:		load = BASROM,	type = ro;
	CODE:		load = BASROM,	type = ro;
	INIT:		load = BASROM,	type = ro;
	EXTRA:		load = BASROM,	type = ro;
	DUMMY_A:	load = DUMMY; # bin A token counter; not in binary
	DUMMY_B:	load = DUMMY; # bin B token counter; not in binary
}
